#flexTitle{
	grid-column: 1/4;
	display: flex;
	justify-content:center;
	margin-top: 114px;
	margin-bottom: 81px;
}

.classTitle{
	font-size: 70px;
	margin-left: 150px;
	color: #799DAB;
	font-family: "Calibre";
	font-weight: 700;
}

#flexBanner{
	grid-column: 2/7;
}

.classBannertitle{
	font-size: 30px;
	margin-left: 150px;
	color: #799DAB;
	
}

.classBannertext{
	font-size: 23px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 40px;
	color: #546D77;
}

#flexContact{
	grid-column: 3/6;
	display:flex;
	margin-top: 40px;
	margin-bottom: 90px;
	justify-content: center;
}

.classContact{
	list-style-type: none;
	padding: 0;
	font-size: 50px;
	padding: 0;
	color: #799DAB;
}

.classQuestions{
	font-family: "Calibre";
    font-weight: 400;
}

.classContactus{
	text-align: center;
	color: #F0790E;
	text-decoration: none;
	font-family: "Calibre";
	font-weight: 700;
}

.classContactus:hover {
  text-shadow: 1px 5px 5px rgba(33,33,33,.2); 
}

#flexCircles{
	grid-column:4/7;
	display:flex;
	justify-content:center;
}

.classCircles1{
	width: 500px; 
	height: 617px;
	margin-top: 50px;
	position:absolute;
	z-index: -1;
}

.classCircles2{
	width: 500px; 
	height: 617px;
	margin-top: 50px;
	position:absolute;
	z-index: -1;
	left: 100px;
}

.classCircles3{
	width: 500px; 
	height: 617px;
	margin-top: 50px;
	position:absolute;
	z-index: -1;
	right: 200px;
}