*{
	padding: 0px;
	margin: 0px;
}

footer{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(7, 1fr);
	height: 205px;
	width: 100%;
	background-color: #C7EAF8;
}

footer section{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 30px;
	background-color: #799DAB;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 81px;
}
footer div section a{
	align-self: center;
}

footer img{
	width: 40px;
	height: 40px;
	align-self: center;
	margin-top: 5px;
}
footer div{
	display: flex;
	justify-content: center;
	grid-column: 1/2;
	gap: 50px;
	margin-left: 180px;
	align-self: center;
}
#contacts{
	display: flex;
	justify-content: center;
	grid-column: 4/7;
	gap: 50px;
	margin-left: 180px;
	align-self: center;
	gap: 10px;
	margin-top: 20px;
}
#contacts a{
	flex-direction: column;
	align-self: center;
}
#contacts p{
	align-self: center;
	color: #799DAB;
}
#location{
	display: flex;
	justify-content: center;
	grid-column: 4/7;
	gap: 50px;
	margin-left: 180px;
	align-self: center;
	gap: 10px;
	margin-bottom: 59px;
	margin-right: 38px;
}
#locatio a{
	flex-direction: column;
	align-self: start;
	margin-bottom: 10px;
}
#location p{
	align-self: center;
	color: #799DAB;
	margin-bottom: 10px;
}




